###
#eclipse files
###
.project

####
#node dependencies
###
node_modules

###
#bower components
#you can install components locally from tvebase theme root while running "bower install"
###
#bower_components

###
# Sass
###
.sass-cache